
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <small class="text-danger"><%= f.error :description %></small>
<%= f.input :language, collection: ["English", "Polish", "Russian"] %>
<%= f.input :level, collection: ["Beginner", "Intermediate", "Advanced"] %>
<%= f.input :price %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
